on: [push]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    name: Publish to Cloudflare Pages
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: 98c6bf72a6de9a710c59c50c56db8299
          projectName: hacktoberfestkorea
          directory: ./site
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
